.welcome-box {
    width: 100%;
    max-width: 500px;
    height: 20vh;
    max-height: 500px;
    margin: auto;
    margin-top: 5%;
    background: lightgreen;
    position: relative;
}

.welcome-box.active {
    opacity: 1;
}

.welcome-box.in-active {
    opacity: 0;
    transition: 5s ease-in-out
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}